%li{ id: dom_id(user) }
  - followed_user_map = current_user.followed_user_map(user)
  %span.name= user.name
  %span.first-name= user.first_name
  %span.meta
    %span Follows #{user.followed_users.size}
    •
    %span Followed by #{user.follower_users.size}

  - unless current_user == user
    - if followed_user_map.present?
      = button_to "Following", follow_user_map_path(followed_user_map), method: :delete, remote: true, class: "js-following-button btn"
    - else
      = button_to "Follow", follow_user_maps_path, remote: true, class: "btn", params: { follow_user_map: { followed_user_id: user.id } }