- current_user_html = escape_javascript(render("users/user", user: current_user)).html_safe
- user_html = escape_javascript(render("users/user", user: @followed_user)).html_safe
- posts_html = escape_javascript(render("posts/posts", posts: @posts)).html_safe
$('.#{dom_class(Post)}').replaceWith('#{posts_html}');
$('##{dom_id(@followed_user)}').replaceWith('#{user_html}');
$('##{dom_id(current_user)}').replaceWith('#{current_user_html}');