-# TODO: Paginate posts.

- if can?(:create, Post)
  %h2 New Post
  = render "posts/form", post: @post

%h2
  - if signed_in?
    Your
  - else
    Public
  feed
= render "posts/posts", posts: @posts

- if signed_in?
  %h2 Users
  = form_tag users_path, remote: true, method: :get, data: { submit_on_type: true } do |f|
    = text_field_tag :q, params[:q], placeholder: "Search...", autocomplete: :off
    = submit_tag "Search"
  = render "users/users", users: @users
- else
  %h2
    %em Log in to search for and follow other users.